@import '@fontsource/be-vietnam-pro';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root {
  --font-heading: 'Instrument Serif', serif;
  --font-body: 'Be Vietnam Pro', sans-serif;
  --font-size-heading: 64px;
  --font-size-subheading: 40px;
  --font-size-caption: 20px;
  --font-size-body: 14px;
  --font-weight-regular: 400;
  --dark-pink: #972C52;
  --off-white: #F5F3F1;
  --black: #000000;
  --med-pink: #972C5280;
  --light-pink: #AA316326;
  --background: #FFFAF5;
}

html {
  font-family: var(--font-body);
  background-color: var(--background);
}

[class*='subtitle'],
[class*='label'],
[class*='field'],
[class*='role'],
[class*='pill'],
[class*='tag'] {
  font-family: var(--font-body);
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-regular);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}